<header>
  <nav class="header_menu">
    <ul class="header_menu_list">
      <li class="menu_item"><a href="../main.html">Головна</a></li>
      <li class="menu_item"><a href="../gluing.html">Обклейка автомобілів</a></li>
      <li class="menu_item"><a href="../detailing.html">Детейлинг автомобілів</a></li>
      <li class="menu_item"><a href="../gallery.html">Галерея робіт</a></li>
    </ul>
  </nav>
  <div class="auth-box">
    <a id="login" class="login">Увійти</a>
    <a id="logout" class="logout">Вийти</a>
    <img id="user_icon" src="" alt="user_photo" />
  </div>
</header>